<ion-header>

  <ion-navbar color="parkYellow">
    <ion-title>ข่าวสารและโปรโมชั่น</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="masters">
  <ion-item-group class="people-group">
    <ion-grid>
      <ion-row *ngFor="let row of data_table_myNews" style="padding-top:1%;">
        <section>
          <ion-row style="height:120px;">
            <ion-col width-50 class="cusImage" [style.background-image]="'url(' + linkPic+ row.news_pic+ ')'">
              <!-- <img class="cusImage" [hidden]="row.news_pic === null || row.news_pic === ''" src="{{linkPic}}{{row.news_pic}}"> -->
            </ion-col>
            <ion-col width-50 style="padding-left:1%;">
              <ion-item>
                <ion-row>
                  <ion-col>
                    <p>{{row.news_name}}</p>
                    <!-- <p>{{row.news_user_date|amTimeAgo}}</p> -->
                  </ion-col>
                </ion-row>
                <ion-row style="height:50px;">
                  <button item-left *ngIf="row.news_user_status ==1" color="parkYellow" disabled ion-button small outline>รับสิทธิ์</button>
                  <a button item-left *ngIf="row.news_phone !=null " href="tel:{{row.news_phone}}" color="parkYellow" ion-button small>โทร</a>
                  <a style="width:30px;" button item-left *ngIf="row.news_line !=null" href="{{row.news_line}}" color="parkYellow" ion-button small>ไลน์</a>
                </ion-row>
                <ion-row width-100>
                  <ion-col width-50>
                  </ion-col>
                  <ion-col width-50>
                    <button width-25 offset-50 (click)="news_detail(row.news_user_id)" color="parkYellow" ion-button small>อ่านต่อ</button>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-col>
          </ion-row>
        </section>
      </ion-row>
    </ion-grid>
  </ion-item-group>
</ion-content>
