page-news {
  .cusRow {}

  .cusImage {
    border-radius: 10px 0 0 10px;
    padding:: 0;
    margin: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .masters {
    // background-color: #6A6A6A;
    background-image: url('../assets/img/template/bg8.png');
    // opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .blog {
    &.item-block {
      background-color: transparent;
      border: 0.55px solid #c8c7cc;

      .item-inner {
        border: none;
      }
    }

    h2 {
      font-size: 16px;
    }
  }

  .item-divider {
    ion-label {
      // color: #000000;
      padding:: 0;
      margin: 0;
    }
  }

  .people-group {
    section {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      border: 0.55px solid #ffcd00;
      color: #ffcd00;
      box-shadow: 0 0 3px rgba(0,0,0,0.15);
      margin: 0;
      padding: 0;

      img {
        margin: 0;
        padding: 0;
      }

      ion-row {
        padding: 0;
        margin: 0;
      }

      ion-col {
        padding: 0;
        margin: 0;
      }

      ion-avatar img {
        // margin: 0 auto;
        padding: 0;
        margin: 0;
      }

      ion-item {
        // background-color: #fff;
        background-color: transparent;
        padding: 0;
        margin: 0;

        p {
          color: #ffcd00;
          padding: 0;
          margin: 0;
        }
      }

      ion-label {
        margin: 0;
      }

      button {
        // box-shadow: none;
        // border-top: 1px solid #e8e8e8;
        // border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}
