page-promotion {
  .masters {
    // background-color: #6A6A6A;
    background-image: url('../assets/img/template/bg8.png');
    // opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
    .blog {
        &.item-block {
            background-color: transparent;
            border-bottom: 0.55px solid #c8c7cc;
            .item-inner {
                border: none;
            }
        }
        h2 {
            font-size: 16px;
        }
    }
    .item-divider {
        ion-label {
            // color: #000000;
            margin-bottom: 0px;
        }
    }
    .people-group {
        section {
          background-color: transparent;
          // background-color: #ffffff;
          // opacity: 0.4;
          border: 0.55px solid #ffcd00;
          color: #ffcd00;
            box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
             ion-avatar img {
                 margin: 0 auto;
             }
            ion-item {
                // background-color: #fff;
                background-color: transparent;
                p {
                    color: #ffcd00;
                    // padding-top: 10px;
                }
            }
            ion-label {
                margin-bottom: 0px;
            }
            button {
                // box-shadow: none;
                // border-top: 1px solid #e8e8e8;
                // border-bottom: 1px solid #e8e8e8;
            }
        }
    }
}
